body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.product-card-container::-webkit-scrollbar {
  display: none;
}
.product-card-container {
  -ms-overflow-style: none;
}
.logo {
  background: #121fcf;
  background: radial-gradient(
    ellipse farthest-corner at right center,
    #121fcf 0%,
    #667aff 50%,
    #cf1512 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
